## Business Understanding:

SyriaTel, a telecommunications company, faces a significant challenge with customer churn, leading to financial losses. To tackle this, they initiate a predictive analytics project aimed at identifying customers likely to churn soon. By analyzing historical customer data like demographics, usage patterns, and service interactions, they develop a binary classifier model. This model, trained on various machine learning algorithms, predicts churn likelihood in real-time, enabling SyriaTel to proactively target at-risk customers with personalized retention strategies. Ultimately, this predictive approach helps SyriaTel optimize marketing efforts, improve customer retention, and boost overall profitability.

## Data Understanding:

In preparing to use logistic regression for churn prediction at SyriaTel, the initial step involves collecting historical customer data encompassing demographics, usage patterns, subscription details, and service interactions. Subsequently, a thorough exploration of the dataset is conducted to understand its structure, identify relevant features, and preprocess the data to handle missing values and categorical variables. Following data splitting into training and testing sets, logistic regression is trained on the training data and evaluated using metrics like accuracy and F1 score. Through model optimization, hyperparameters are fine-tuned to enhance predictive performance, ensuring the model's robustness and interpretability. Ultimately, this approach enables SyriaTel to gain insights into customer churn drivers and implement targeted retention strategies effectively.

## Data Analysis:

Importing the necessary libraries below

In [24]:
import pandas as pd  # For data manipulation and analysis
import numpy as np  # For numerical operations
import matplotlib.pyplot as plt  # For data visualization
import seaborn as sns  # For enhanced data visualization
from sklearn.model_selection import train_test_split  # For splitting data into train and test sets
from sklearn.preprocessing import StandardScaler  # For standardizing numerical features
from sklearn.linear_model import LogisticRegression  # For logistic regression model
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report,f1_score  # For model evaluation metrics
from sklearn.model_selection import GridSearchCV  # For hyperparameter tuning
import warnings
warnings.filterwarnings("ignore") # For filtering out annoying warnings lol

In [25]:
df = pd.read_csv('dataset\Customer Churn.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

The dataset has no null values but has a mixture of string and float datatypes so we need to convert the object data types to float for the regression model later on.

In [26]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

Looking at all the columns that have an object data type to see how it can be converted and if theres a need to do so

In [27]:
object_columns = ['state','voice mail plan','international plan','phone number']
df.loc[:,object_columns]

     state voice mail plan international plan phone number
0       KS             yes                 no     382-4657
1       OH             yes                 no     371-7191
2       NJ              no                 no     358-1921
3       OH              no                yes     375-9999
4       OK              no                yes     330-6626
...    ...             ...                ...          ...
3328    AZ             yes                 no     414-4276
3329    WV              no                 no     370-3271
3330    RI              no                 no     328-8230
3331    CT              no                yes     364-6381
3332    TN             yes                 no     400-4344

[3333 rows x 4 columns]

so the internation plan and the voice mail plan are boolean so will convert to bool the state isnt really required so we can drop that column and also phone number.But before dropping state will look at how different state have different numbers of churns and see if theres a pattern somewhere and the state with the greatest number of churned customers

In [28]:
for index,data in enumerate(df['voice mail plan']):
    if data == 'yes':
        df['voice mail plan'][index] = True
    else:
        df['voice mail plan'][index] = False
df['voice mail plan'].head()

0     True
1     True
2    False
3    False
4    False
Name: voice mail plan, dtype: object

In [29]:
df['voice mail plan'] = df['voice mail plan'].astype(bool)
df['voice mail plan'].value_counts()

voice mail plan
False    2411
True      922
Name: count, dtype: int64

Converted the international plan to boolean true and false values as show below

In [30]:
for index,data in enumerate(df['international plan']):
    if data == 'yes':
        df['international plan'][index] = True
    else:
        df['international plan'][index] = False
df['international plan'] = df['international plan'].astype(bool)
df['international plan'].value_counts()

international plan
False    3010
True      323
Name: count, dtype: int64

In [31]:
df['state'].value_counts()

state
WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: count, dtype: int64

Since its significant one hot encoding could be use to create classification categories for the values in state allowing for Logistics Regression to be done.Earlier high imbalance was observed between the values in international plan and voice mail plan columns and so we would have to perform some smote operations to deal with such

One hot encoding on the state column

In [32]:
encoded_column = pd.get_dummies(df['state'],prefix='encoded',drop_first=True)
df = pd.concat([df.drop(columns='state'),encoded_column],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 70 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account length          3333 non-null   int64
 1   area code               3333 non-null   int64
 2   phone number            3333 non-null   object
 3   international plan      3333 non-null   bool
 4   voice mail plan         3333 non-null   bool
 5   number vmail messages   3333 non-null   int64
 6   total day minutes       3333 non-null   float64
 7   total day calls         3333 non-null   int64
 8   total day charge        3333 non-null   float64
 9   total eve minutes       3333 non-null   float64
 10  total eve calls         3333 non-null   int64
 11  total eve charge        3333 non-null   float64
 12  total night minutes     3333 non-null   float64
 13  total night calls       3333 non-null   int64
 14  total night charge      3333 non-null   float64
 15  total intl minutes      3333 non-null   float64
 16  total intl calls        3333 non-null   int64
 17  total intl charge       3333 non-null   float64
 18  customer service calls  3333 non-null   int64
 19  churn                   3333 non-null   bool
 20  encoded_AL              3333 non-null   bool
 21  encoded_AR              3333 non-null   bool
 22  encoded_AZ              3333 non-null   bool
 23  encoded_CA              3333 non-null   bool
 24  encoded_CO              3333 non-null   bool
 25  encoded_CT              3333 non-null   bool
 26  encoded_DC              3333 non-null   bool
 27  encoded_DE              3333 non-null   bool
 28  encoded_FL              3333 non-null   bool
 29  encoded_GA              3333 non-null   bool
 30  encoded_HI              3333 non-null   bool
 31  encoded_IA              3333 non-null   bool
 32  encoded_ID              3333 non-null   bool
 33  encoded_IL              3333 non-null   bool
 34  encoded_IN              3333 non-null   bool
 35  encoded_KS              3333 non-null   bool
 36  encoded_KY              3333 non-null   bool
 37  encoded_LA              3333 non-null   bool
 38  encoded_MA              3333 non-null   bool
 39  encoded_MD              3333 non-null   bool
 40  encoded_ME              3333 non-null   bool
 41  encoded_MI              3333 non-null   bool
 42  encoded_MN              3333 non-null   bool
 43  encoded_MO              3333 non-null   bool
 44  encoded_MS              3333 non-null   bool
 45  encoded_MT              3333 non-null   bool
 46  encoded_NC              3333 non-null   bool
 47  encoded_ND              3333 non-null   bool
 48  encoded_NE              3333 non-null   bool
 49  encoded_NH              3333 non-null   bool
 50  encoded_NJ              3333 non-null   bool
 51  encoded_NM              3333 non-null   bool
 52  encoded_NV              3333 non-null   bool
 53  encoded_NY              3333 non-null   bool
 54  encoded_OH              3333 non-null   bool
 55  encoded_OK              3333 non-null   bool
 56  encoded_OR              3333 non-null   bool
 57  encoded_PA              3333 non-null   bool
 58  encoded_RI              3333 non-null   bool
 59  encoded_SC              3333 non-null   bool
 60  encoded_SD              3333 non-null   bool
 61  encoded_TN              3333 non-null   bool
 62  encoded_TX              3333 non-null   bool
 63  encoded_UT              3333 non-null   bool
 64  encoded_VA              3333 non-null   bool
 65  encoded_VT              3333 non-null   bool
 66  encoded_WA              3333 non-null   bool
 67  encoded_WI              3333 non-null   bool
 68  encoded_WV              3333 non-null   bool
 69  encoded_WY              3333 non-null   bool
dtypes: bool(53), float64(8), int64(8), object(1)
memory usage: 615.3+ KB

we'll drop the phone number since its all unique

In [33]:
df.duplicated().sum()

0

In [35]:
df = df.drop(columns='phone number')

KeyError: "['phone number'] not found in axis"

In [36]:
df['churn'].value_counts()

churn
False    2850
True      483
Name: count, dtype: int64

It has a bit more columns but atleast the state was encoded correctly so the next step would be to split our data to train and test datasets using random state of 42 and a test size of 0.25

In [37]:
# we will assign the predictive features to X and the target to y
X = df.drop(columns='churn')
y = df['churn']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

Now that thats successful we have created a train test split lets create a model and fit out training data using default hyperparameters

In [38]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
y_pred = logreg.predict(X_test)
f1_score = f1_score(y_true=y_test,y_pred=y_pred)
accuracy_score = accuracy_score(y_true=y_test,y_pred=y_pred)
classification_report = classification_report(y_true=y_test,y_pred=y_pred)
print(classification_report)

              precision    recall  f1-score   support

       False       0.86      0.99      0.92       709
        True       0.64      0.06      0.10       125

    accuracy                           0.85       834
   macro avg       0.75      0.53      0.51       834
weighted avg       0.82      0.85      0.80       834

A weighted average of 0.8 considering the class imbalance isnt that bad honestly

In [ ]:
from sklearn.linear_model import dum

In [ ]:
dumy_model =